@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* font-family: 'Roboto Mono', monospace; */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --font: "Roboto Mono", monospace;
  font-size: 14px;
  /* line-height: 18px; */
  word-wrap: break-word;

  --black: #171717;
  --green-1: #07f985;
  --green-2: #d4ef17;
  --orange: #ff5f1f;
  --yellow: #fcb005;
  --purple: #84018f;
  --pink: #ff00fa;
  --turquoise: #0cf7fc;
  --blue: #0017b8;
  --white: #ffffff;
  /* --gray: #6b6b6b; */
  --gray: #202020;

  /*Margins*/
  --m: 1rem;
  --ms: 0.5rem;
  --m-large: 3rem;
  --mtb: 1rem 0;
  --mb: 0 0 1rem 0;
  --mt: 1rem 0 0 0;
  --mtb-auto: 1rem auto;
  --mtb-auto-large: 4rem auto;
  --mtb-medium: 2rem auto;
  --mlr: 0 1rem;
  --ml: 0 0 0 1rem;
  --mr: 0 1rem 0 0;
  --mtb-large: 3rem auto;
  --m-auto: 0 auto;

  /*Paddings*/
  --p: 0.5rem 1rem;
  --ps: 0.5rem 0.75rem;
  --p-medium: 1.5rem;
  --p-large: 3rem;
  --pb: 0 0 1rem 0;
  --pt: 1rem 0 0 0;
  --pt-medium: 2rem 1rem 0 1rem;
  --ptb: 1rem 0;
  --ptb-medium: 2rem 1rem;
  --ptb-large: 3rem 0;
  --pr: 0 1rem 0 0;
  --pl: 0 0 0 1rem;
  --plr: 0 1rem;

  /*Border radius*/
  --border-radius-4: 4px;
  --border-radius-10: 10px;
  --border-radius-20: 40px;
  --border-radius-100: 100%;
  --border-radius-top-10: 10px 10px 0 0;
  --border-radius-right-10: 0 10px 10px 0;

  /*background colors*/
  --bg-gray-200: #eee;

  /*Shadows*/
  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

html,
body {
  background-color: var(--black);
  height: 100%;
}

.hiden {
  /*Mobile*/
  display: none !important;
}

hr {
  border-bottom: 1px solid var(--pink);
  /* margin: var(--mtb-medium); */
}

hr.divider {
  border-bottom: 1px solid var(--turquoise);
  margin: var(--mtb-medium);
  width: 100%;
}

/* Color classes HTML */

.turquoise {
  color: var(--turquoise);
}
.black {
  color: var(--black);
}
.green-1 {
  color: var(--green-1);
}
.green-2 {
  color: var(--green-2);
}
.orange {
  color: var(--orange);
}
.yellow {
  color: var(--yellow);
}
.purple {
  color: var(--purple);
}
.pink {
  color: var(--pink);
}
.blue {
  color: var(--blue);
}
.white {
  color: var(--white);
}
.gray {
  color: var(--gray);
}

h1,
h2,
h3 {
  font-family: var(--font);
  font-weight: 500;
  /* margin-bottom: 1rem; */
}

h1 {
  font-size: 3rem;
  line-height: auto;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  line-height: auto;
  margin-bottom: 1rem;
}

h3 {
  font-family: var(--font);
  font-size: 1.5rem;
  line-height: auto;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: var(--font);
  font-size: 0.875rem;
  line-height: auto;
  margin-bottom: 0.5rem;
}

p {
  color: var(--white);
  font-family: var(--font);
  font-size: 1rem;
  /* line-height: 1.125rem; */
  color: var(--white) !important;
}

/*******************************************/
