.container {
  padding: 0 2rem;
}
/*---------------------------------------------------Globals---------------------------------------------------*/
/*---------------------------------------------------Header---------------------------------------------------*/
.nav ul {
  display: flex;
  gap: 2rem;
}

/*-------------Pages-------------*/
/*---------------------------------------------------Home page---------------------------------------------------*/
/*---------------------------------------------------Main---------------------------------------------------*/
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*------------------------------Herosecction------------------------------*/
.herosection {
  position: relative;
  text-align: center;
}
.herosection img {
  object-fit: cover;
  opacity: 50%;
  max-width: 100%;
  height: 15rem;
}
.herosection h1 {
  margin-top: 2rem;
  color: var(--turquoise);
  font-weight: 100;
  font-size: 9rem;
  opacity: 30%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.herosection h2,
.herosection h3 {
  color: var(--pink);
}
.herosection h2 {
  font-weight: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 22%;
  font-size: 4rem;
  z-index: 1;
}
.herosection h3 {
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 85%;
  right: 9%;
  font-size: 0.6rem;
  text-align: right;
  line-height: 0.6rem;
}
.booknowBtn {
  color: var(--turquoise);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 85%;
  left: 81%;
  background-color: transparent;
  border: 0.5px solid var(--pink);
  padding: 0.5rem;
  font-size: 0.5rem;
}
/*------------------------------Lineup------------------------------*/
.lineup {
  color: var(--turquoise);
}
.lineup h2 {
  text-align: center;
}
.lineup ol {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
  padding-left: 0;
}
.lineup button {
  background-color: transparent;
  color: var(--turquoise);
  border: none;
  padding: 0.5rem;
}
.lineup button:hover,
.lineup button:visited {
  border: 0.5px solid var(--turquoise);
}
/*------------------------------Tickets------------------------------*/
.tickets {
  display: grid;
  margin: 1.5rem;
}
.tickets .cards {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  flex-direction: column;
  align-items: center;
}
.tickets .cards .card1 {
  margin-top: 2rem;
  margin-bottom: -1rem;
  background-color: var(--green2);
  height: 100px;
  width: 300px;
  border: var(--green2) solid 1px;
  /* border-radius: 10px; */
  transform: rotate(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}
.tickets .cards .card2 {
  background-color: var(--purple);
  height: 100px;
  width: 300px;
  border: var(--purple) solid 1px;
  /* border-radius: 10px; */
  transform: rotate(-10deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tickets .desc h2 {
  color: var(--turquoise);
}
.tickets .desc h3 {
  color: var(--turquoise);
  font-weight: 100;
}
.tickets .desc p,
.tickets .desc ul {
  font-size: small;
}
.tickets .desc button {
  background-color: transparent;
  border: 1px solid var(--pink);
  padding: 0.5rem;
  color: var(--turquoise);
  font-size: 0.6rem;
}
/*------------------------------Accomodation------------------------------*/
.accomodationSec {
  background-color: var(--blue);
}
.accomodation {
  margin: 1.5rem;
  padding: 1.5rem;
}
.accomodation img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}
.accomodation h2 {
  color: var(--green1);
}
.accomodationSec .accomodation button {
  background-color: transparent;
  border: 1px solid var(--turquoise);
  padding: 0.5rem;
  color: var(--turquoise);
  font-size: 0.6rem;
}
/*---------------------------------------------------Artist page---------------------------------------------------*/
.artist {
  display: grid;
}
.artist img {
  max-width: 100%;
  object-fit: cover;
  height: 15rem;
}
.artisthero {
  position: relative;
  text-align: center;
}
.artisthero img {
  object-fit: cover;
  opacity: 50%;
  max-width: 100%;
  height: 15rem;
}
.artisthero h1 {
  margin-top: 2rem;
  color: var(--pink);
  font-weight: 400;
  font-size: 5rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.artist .stageInfo,
.artist .artistInfo {
  margin: 1.5rem;
}
.artist .stageInfo h2 {
  color: var(--pink);
}
.artist .stageInfo .artistSocials [type="button"] {
  background-color: transparent;
  color: var(--turquoise);
  border: var(--turquoise) 1px solid;
  padding: 0.5rem;
}
.artist .stageInfo .artistSocials {
  display: flex;
  gap: 10px;
  width: 20%;
}
.artist .stageInfo h6,
.artist .artistInfo h2,
.artist .artistInfo h3,
.artist .artistInfo h5 {
  color: var(--turquoise);
}
/*---------------------------------------------------About page---------------------------------------------------*/

.aboutHero {
  position: relative;
  text-align: center;
}
.aboutHero img {
  opacity: 50%;
  max-width: 100%;
  object-fit: cover;
  height: 15rem;
}
.aboutHero h1 {
  margin-top: 2rem;
  font-weight: 200;
  opacity: 30%;
  color: var(--pink);
  font-size: 5rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .aboutDesc {
  margin: 1.5rem;
  display: grid;
}
.about .aboutDesc h2 {
  color: var(--turquoise);
}
.about .aboutDesc img {
  max-width: 100%;
  object-fit: cover;
}
.about .aboutDesc button {
  background-color: transparent;
  border: var(--turquoise) 1px solid;
  color: var(--turquoise);
  padding: 1rem;
  width: 60%;
}
/*---------------------------------------------------Additionals---------------------------------------------------*/

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
